<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                
                <div id="indoorMaps">

                </div>
            </div>
            <div class="column is-4">

            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css" />
<link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/indoor/0.1/atlas-indoor.min.css" type="text/css"/>


<style>
    #indoorMaps {
        width: 750px;
        height: 750px;
        border: 2px solid red;
      }
</style>





<!-- <section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div *ngFor="let twin of twins" class=" column is-3">
                <div class="twin-card has-background-light">
                    <h1 class="title is-5 has-text-black has-text-centered">{{ twin.$dtId }}</h1>
                    <div style="margin:0.5rem">
                        <p *ngIf="twin.temperature">
                            Temperature: <span class="rightsided">{{ twin.temperature }} °C</span> <br>
                            ThresholdYellow: <span class="rightsided"> {{ twin.co2ThresholdYellow }}</span> <br>
                            ThresholdRed: <span class="rightsided"> {{ twin.co2ThresholdRed }}</span>

                        </p>
                    </div>
                    <form [formGroup]="thresholdForm" (ngSubmit)="onSubmit($event)" style="margin:0.5rem">
                        <div class="field">
                            <input type="number" formControlName="thresholdYellow" placeholder="Threshold Red"  class="input">
                        </div>
                        <div class="field">
                            <input type="number" formControlName="thresholdRed" placeholder="Threshold Yellow"  class="input">
                        </div>
                        <button type="submit" class="button is-link is-rounded is-fullwidth">
                            Change Thresholds
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->


