<section class="section">
    <div class="container">
        <h1 class="title is-3">
            Dashboard DigiZ Heidenheim
        </h1>
        <div class="columns">
            <div class="column is-8">
                
                <div id="indoormaps">

                </div>
            </div>
            <div class="column is-4">
                <div class="field">
                    <div class="select is-large is-fullwidth">
                        <select (change)="setStateset($event.target.value)">
                          <option selected>Temperatur</option>
                          <option>CO2</option>
                        </select>
                      </div>
                </div>
                <div class="box has-background-light">
                    Navigieren Sie auf der interaktiven Karte durch die Räume und lassen Sie sich die Daten anzeigen. <br>
                    <br>
                    <div *ngIf="mapSelection == 'Temperatur'">
                        <p>
                            <b>Legende Temperatur:</b>
                            <br>
                            < 22°C: blau <br>
                            > 24°C: gelb <br>
                            > 26°C: orange <br>
                            > 28°C:         <br>
                            
                        </p>
                    </div>
                    <div *ngIf="mapSelection == 'CO2'">
                        <p>
                            <b>Legende CO2:</b>
                            <br>
                            < 600 PPM: Grün<br>
                            < 1000 PPM: Gelb <br>
                            > 1000 PPM: Rot <br>

                            
                        </p>
                    </div>

                </div>
                <div *ngIf="!displayedTwin" class="notification has-background-danger has-text-white">
                    Leider stehen zu dem von Ihnen ausgewählten Bereich keine weiteren Daten zur Verfügung... 
                </div>
                <div *ngIf="loadingTwinData">
                    loading
                </div>
                <div *ngIf="displayedTwin" class="notification has-background-light">
                    <div class="state" [ngClass]="displayedTwin.connectionState ? 'has-background-success': 'has-background-danger'">
                        
                    </div>
                    <p class="subtitle is-4">Messdaten für {{ displayedTwin.$dtId }}</p>
                    <p>Temperatur:{{ displayedTwin.temperature }} <br>
                        Luftfeuchtigkeit: {{ displayedTwin.humidity }} <br>
                        VOC: {{ displayedTwin.voc }} <br>
                        CO2: {{ displayedTwin.co2 }} <br>
                        Grenzwert Gelb: {{ displayedTwin.co2ThresholdYellow }} <br>
                        Grenzwert Rot: {{ displayedTwin.co2ThresholdRed }}
                    
                    </p>
                    <br>
                    <button (click)="adjustmentModal = true" class="button is-rounded is-link">
                        Adjust Thresholds
                    </button>
                </div>

            </div>
        </div>
        <div *ngIf="displayedTwin.printers">
            <h2 class="title is-4">Zugehörige Drucker zu {{ displayedTwin.$dtId }}</h2>
            <div class="columns is-multiline">
                
                <div class="column is-3" *ngFor="let printer of displayedTwin.printers">
                    <div class="notification">
                        <p class="subtitle is-4">{{ printer.$dtId }}</p>

                        <button class="button is-link is-rounded">
                            Zeige Verlaufsdaten
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image is-4by3">
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>



<div *ngIf="adjustmentModal" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Any other Bulma elements you want -->
        <div class="notification has-background-light">
            <button class="delete" aria-label="close" (click)="adjustmentModal = false"></button>
            <h2 class="title is-4">Passen Sie die Grenzwerte für {{ displayedTwin.$dtId }} an.</h2>
            <form [formGroup]="thresholdForm" (ngSubmit)="onSubmit($event)">
                <div class="field">
                    <label for="" class="label">Grenzwert Gelb</label>
                    <div>
                        <input type="number" formControlName="thresholdYellow" placeholder="500" value="{{ displayedTwin.co2ThresholdYellow }}" class="input">
                    </div>
                </div>
                <div class="field">
                  <label for="" class="label">Grenzwert Rot</label>
                  <div>
                      <input type="number" formControlName="thresholdRed" placeholder="1000" value="{{ displayedTwin.co2ThresholdRed }}" class="input">
                  </div>
              </div>
              <div class="field">
                  <button type="submit" class="button is-rounded is-link is-fullwidth">
                      Anpassen
                  </button>
              </div>
            </form>
        </div>
    </div>
    <!-- <button class="modal-close is-large" aria-label="close" (click)="adjustmentModal = !adjustmentModal"></button> -->
  </div>


  <div class="notification statusmessage has-background-success has-text-white">
    <!-- <button class="delete"></button> -->
   Successfully updated values for Device Abstellraum
  </div>




<!-- <section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div *ngFor="let twin of twins" class=" column is-3">
                <div class="twin-card has-background-light">
                    <h1 class="title is-5 has-text-black has-text-centered">{{ twin.$dtId }}</h1>
                    <div style="margin:0.5rem">
                        <p *ngIf="twin.temperature">
                            Temperature: <span class="rightsided">{{ twin.temperature }} °C</span> <br>
                            ThresholdYellow: <span class="rightsided"> {{ twin.co2ThresholdYellow }}</span> <br>
                            ThresholdRed: <span class="rightsided"> {{ twin.co2ThresholdRed }}</span>

                        </p>
                    </div>
                    <form [formGroup]="thresholdForm" (ngSubmit)="onSubmit($event)" style="margin:0.5rem">
                        <div class="field">
                            <input type="number" formControlName="thresholdYellow" placeholder="Threshold Red"  class="input">
                        </div>
                        <div class="field">
                            <input type="number" formControlName="thresholdRed" placeholder="Threshold Yellow"  class="input">
                        </div>
                        <button type="submit" class="button is-link is-rounded is-fullwidth">
                            Change Thresholds
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->


