

<section class="section">
    <div class="container">
        <h1 class="title is-3">
            Dashboard DigiZ Heidenheim
        </h1>
        <div class="columns">
            <div class="column is-8">
                
                <div id="indoormaps">
                </div>
                
            </div>
            <div class="column is-4">
                <div class="field">
                    <div class="select is-fullwidth">
                        <select (change)="setStateset($event.target.value)">
                          <option selected>Temperatur</option>
                          <option>CO2</option>
                        </select>
                      </div>
                </div>
                <div class="box has-background-light">
                    Navigieren Sie auf der interaktiven Karte durch die Räume und lassen Sie sich die Daten anzeigen. <br>
                    <br>
                    <div *ngIf="mapSelection == 'Temperatur'">
                        <p>
                            <b>Legende Temperatur:</b>
                            <br>
                            < 22°C: blau <br>
                            < 24°C: gelb <br>
                            < 26°C: orange <br>
                            > 28°C: rot      <br>
                            
                        </p>
                    </div>
                    <div *ngIf="mapSelection == 'CO2'">
                        <p>
                            <b>Legende CO2:</b>
                            <br>
                            < 600 PPM: Grün<br>
                            < 1000 PPM: Gelb <br>
                            > 1000 PPM: Rot <br>

                            
                        </p>
                    </div>

                </div>
                <div *ngIf="!displayedTwin" class="notification has-background-danger has-text-white">
                    Leider stehen zu dem von Ihnen ausgewählten Bereich keine weiteren Daten zur Verfügung... 
                </div>
                <div *ngIf="loadingTwinData">
                    loading
                </div>
                <div *ngIf="displayedTwin" class="notification has-background-light">
                    <div class="state" [ngClass]="displayedTwin.connectionState ? 'has-background-success': 'has-background-danger'">
                        
                    </div>
                    <p class="subtitle is-4">Messdaten für {{ displayedTwin.$dtId }}</p>
                    <p>Temperatur: {{ displayedTwin.temperature }} °C <br>
                        Luftfeuchtigkeit: {{ displayedTwin.humidity }} % <br>
                        VOC: {{ displayedTwin.voc }} <br>
                        CO2: {{ displayedTwin.co2 }} PPM <br>
                        Grenzwert Gelb: {{ displayedTwin.co2ThresholdYellow }} PPM<br>
                        Grenzwert Rot: {{ displayedTwin.co2ThresholdRed }} PPM
                    
                    </p>
                    <br>
                    <button (click)="adjustmentModal = true" class="button is-rounded is-link">
                        Grenzwerte anpassen
                    </button>
                </div>

            </div>
        </div>
        <div *ngIf="displayedTwin.printers">
            <h2 class="title is-4">Zugehörige Drucker zu {{ displayedTwin.$dtId }}</h2>
            <div class="columns is-multiline">
                
                <div class="column is-3" *ngFor="let printer of displayedTwin.printers">
                    <div class="notification">
                        <p class="subtitle is-4">{{ printer.$dtId }}</p>
                        <p>
                            Innentemperatur: {{ printer.ambientTemperature }} °C
                        </p>
                        <br>

                        <button class="button is-link is-rounded" (click)="showTempData(printer.$dtId)">
                            Zeige Verlaufsdaten
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div *ngIf="tempDataModal" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content has-background-light modal-content-tempdata">
        <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="showTempData()"></button>
  </div>



<div *ngIf="adjustmentModal" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Any other Bulma elements you want -->
        <div class="notification has-background-light">
            <button class="delete" aria-label="close" (click)="adjustmentModal = false"></button>
            <h2 class="title is-4">Passen Sie die Grenzwerte für {{ displayedTwin.$dtId }} an.</h2>
            <form [formGroup]="thresholdForm" (ngSubmit)="onSubmit($event)">
                <div class="field">
                    <label for="" class="label">Grenzwert Gelb (in PPM)</label>
                    <div>
                        <input type="number" formControlName="thresholdYellow" placeholder="500" value="{{ displayedTwin.co2ThresholdYellow }}" class="input">
                    </div>
                </div>
                <div class="field">
                  <label for="" class="label">Grenzwert Rot (in PPM)</label>
                  <div>
                      <input type="number" formControlName="thresholdRed" placeholder="1000" value="{{ displayedTwin.co2ThresholdRed }}" class="input">
                  </div>
              </div>
              <div class="field">
                  <button type="submit" class="button is-rounded is-link">
                      Anpassen
                  </button>
              </div>
            </form>
        </div>
    </div>
    <!-- <button class="modal-close is-large" aria-label="close" (click)="adjustmentModal = !adjustmentModal"></button> -->
  </div>



  <div class="notification statusmessage has-text-white"  [ngClass]="{
    'has-background-success': statusmessage.status == 'success',
    'has-background-danger': statusmessage.status == 'error'
  }" *ngIf="statusmessage">
    <!-- <button class="delete"></button> -->
  {{ statusmessage.message }}
  </div>


